<div class="container analysis">
    <p id="error"><%= flash[:error] %></p>
	<%if @events.blank?%>
	  Nothing to Display
	<%else%>
	  <%@events.each do |event|%>
	    <table class="event-table">
		      <tr>
			      <th colspan="4"><%= event.name%>
			      <%=link_to 'Join', generate_group_event_path(event), method: :put, class: 'join-button' unless current_user.part_of_event?(event)%>
			      </th>
		      </tr>
		      <tr>
	        	<td class='rules-text' colspan="4">RULES: <%= event.rules.html_safe%> </td>
	        </tr>
	    </table>
	    <table>
		    <%event.groups.order(:id).each do |group|%>
	          <tr>
		        <td><%= group.name%></td>
		        <%group.users.each do |user|%>
		            <% remaining_users = event.max_no_of_user_per_group - group.users.size + 1%>
		            <td colspan=<%=remaining_users%>><%=user.first_name%> <%= user.last_name%></td>
		        <%end%>
		        <%if group.turn_active?%>
		          <td><%= group.event_date%></td>
		          <td><%= group.slot%></td>
		          <td><%=link_to 'Mark As complete', completed_event_group_path(event, group), method: :put, class: 'join-button'%></td>
		          <td><%=link_to 'SKIP The day', skipped_event_group_path(event, group), method: :put, class: 'join-button'%></td>
		        <%end%>
		      </tr>
	        <%end%>
	    </table>
	  <%end%>
	<%end%>
</div>
