<%= form_for(splitwise) do |f| %>
  <% if splitwise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(splitwise.errors.count, "error") %> prohibited this splitwise from being saved:</h2>

      <ul>
      <% splitwise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td>Purchased ON:</td>
      <td><%= f.text_field :purchased_at %></td>
    </tr>
    <tr>
      <td>Item Name:</td>
      <td><%= f.text_field :item_name %></td>
    </tr>
    <tr>
      <td>Item Description:</td>
      <td><%= f.text_field :description %></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><%= f.number_field :price, step: :any %></td>
    </tr>
    <tr>
      <td>Quantity: </td>
      <td><%= f.number_field :quantity, step: :any %></td>
    </tr>
    <tr>
      <td>Remaining Quantity:</td>
      <td><%= f.number_field :remaining_quantity, step: :any %></td>
    </tr>
    <tr>
      <td>Purchased_by:</td>
      <td><%= f.collection_select :purchased_by, User.order(:first_name), :id, :first_name, selected: (f.object.new_record? ? current_user.id : f.object.purchased_by) %></td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
