<p id="notice">
  <%= notice %>
</p>
<div class="container">
  <h1>Expense Log</h1>
  <p>
    <%= form_tag analysis_splitwises_path, method: 'get' do %>
      <%= select_month(@date_time || Date.today) %>
        <%= select_year(@date_time || Date.today, :start_year => Date.today.year, :end_year => 8.years.from_now.year) %>
          <%= submit_tag "Apply"%>
            <% end %>
  </p>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 ">
      <div class="card text-center mx-auto">
        <div class="card-header">
          History
        </div>
        <div class="card-block">
          <table class="table table-sm table-responsive">
            <thead>
              <tr>
                <th>Date</th>
                <th>Purchased</th>
                <th class="hidden-xs hidden-sm">Updated</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <% @monthly_purchase.first(3).each do |splitwise| %>
                <tr>
                  <td>
                    <%= splitwise.purchased_at.strftime("%Y-%m-%d")%>
                  </td>
                  <td>
                    <%= splitwise.purchasee.first_name%>
                  </td>
                  <td class="hidden-xs hidden-sm">
                    <%= splitwise.creator.first_name%>
                  </td>
                  <td>
                    <%= splitwise.price%>
                  </td>
                </tr>
                <% end %>
            </tbody>
          </table>
          <%if @monthly_purchase.size > 3%>
            <%= link_to 'For more details visit', splitwises_path, class: 'btn btn-success'%>
              <%end%>
        </div>
        <div class="card-footer">
          <span class="badge badge-success">
            Total :
            <%=@monthly_purchase.cost_of_purchase%>
          </span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-4 ">
      <% total_expense = @monthly_purchase.total_expense%>
        <% per_head_cost = (total_expense/User.billable(@date_time).count).to_f %>
          <div class="card text-center mx-auto">
            <div class="card-header">
              Source based report
            </div>
            <div class="card-block">
              <table class="table table-sm table-responsive">
                <thead>
                  <tr>
                    <th>Expence Source</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Rent</td>
                    <td>
                      <%= HouseInfo.first.try(:rent).to_f%>
                    </td>
                  </tr>
                  <% @monthly_purchase.all.collect(&:purchasee).uniq.compact.each do |user| %>
                    <tr>
                      <%spent_amount = user.spent_amount(@date_time)%>
                        <td>
                          <%= user.first_name%>
                        </td>
                        <td>
                          <%= spent_amount%>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
              </table>
            </div>
            <div class="card-footer">
            <span class="badge badge-success">
              Total :<%= total_expense%>
            </span>

            </div>
          </div>
    </div>
  </div>
  <div class='analytics-mid'>
    <div class='analytics-mid-inner'>
      <table>
        <thead>
          <tr>
            <th> Name</th>
            <th> Spend Amount</th>
            <th> Bill Amount</th>
          </tr>
        </thead>
        <tbody>
          <% User.billable(@date_time).each do |user| %>
            <tr>
              <td>
                <%= user.first_name%>
              </td>
              <%spent_amount = user.spent_amount(@date_time)%>
                <td>
                  <%= user.spent_amount(@date_time)%>
                </td>
                <td>
                  <%= per_head_cost - spent_amount%>
                </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div style="clear:both;"></div>
</div>
</div>
