<div class='analysis'>
  <p id="notice"><%= notice %></p>

  <h1>Splitwise</h1>
  <%= link_to 'New entry to Kochu pusthakam', new_splitwise_path, class: 'entry btn btn-primary btn-sm' %>
  <p>
    <%= form_tag splitwises_path, method: 'get' do %>
       <%= select_month(@date_time || Date.today) %>
       <%= select_year(@date_time || Date.today, :start_year => Date.today.year, :end_year => 8.years.from_now.year) %>
       <%= submit_tag "Apply"%>
    <% end %>
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th> Date </th>
        <th> Paid By </th>
        <th> Amount </th>
        <th colspan="3" class="text-center"> Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @splitwises.each do |splitwise| %>
        <tr>
          <td><%= splitwise.purchased_at%></td>
          <td><%= splitwise.purchasee.first_name%></td>
          <td><%= splitwise.price%></td>
          <td>
              <%= link_to 'Show', splitwise, class: 'btn btn-success' %>
          </td>
          <td>
              <%= link_to 'Edit', edit_splitwise_path(splitwise), class: 'btn btn-warning' %>
          </td>
          <td>
              <%= link_to 'Destroy', splitwise_path(splitwise), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
