<!DOCTYPE html>
<html>
  <head>
    <title>Kottaram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='inner-page'>
    <%if current_user%>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'logout') %>
      <%= link_to 'splitwise', splitwises_path, class: 'menu'%>
      | <%= link_to 'Events', events_path, class: 'menu'%>
      | <%= link_to 'Analytics', analysis_splitwises_path, class: 'menu'%>
    <%end%>
    <%= yield %>
  </body>
</html>
