<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kottaram</title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='inner-page'>
    <%if current_user%>
      <ul class="nav nav-pills">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
          <div class="dropdown-menu">
            <%= link_to 'splitwise', splitwises_path, class: 'dropdown-item'%>
            <%= link_to 'Events', events_path, class: 'dropdown-item'%>
            <%= link_to 'Analytics', analysis_splitwises_path, class: 'dropdown-item'%>
            <div class="dropdown-divider"></div>
              <%= link_to('Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item') %>
            </div>
        </li>
      </ul>
    <%end%>
    <%= yield %>
  </body>
</html>
