<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kottaram</title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='inner-page'>
    <%if current_user%>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <%= link_to 'splitwise', splitwises_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Events', events_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Analytics', analysis_splitwises_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'nav-link') %>
        </li>
      </ul>
    <%end%>
    <%= yield %>
  </body>
</html>
